* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.myContainer {
  background: linear-gradient(
    180deg,
    rgb(0, 156, 120) 100px,
    rgb(220, 220, 210) 0px
  );
  width: 100vw;
  height: 100vh;
}

i {
  cursor: pointer;
}

/* ========================= CONTAINER ========================= */
.zappContainer {
  width: 90vw;
  height: 90vh;
  outline: 3px solid black;
}

/* topbar */
.zappTop {
  height: 10%;
  width: 100%;
  background-color: lightgray;
}

/* ========================= SIDEZAPP ========================= */
.sideZapp {
  height: 100%;
  width: 40%;
  background-color: white;
  border-right: 1px solid rgba(128, 128, 128, 0.377);
}

/* topbar sidezapp content */
.theAvatar,
.interactions {
  height: 100%;
  align-items: center;
}

.theAvatar img {
  height: 75%;
}

/* === sidebody === */
.sideBody {
  width: 100%;
  height: 90%;
}

/* app desktop news section */
.newsZapp {
  background-color: skyblue;
  height: 10%;
}

/* chat section */
.chatsSect {
  height: calc(100% - 10%);
}

.searchZapp {
  height: 10%;
  border-bottom: 1px solid lightgray;
}

.othersChat {
  height: calc(100% - 10%);
}

.singlePerson {
  height: 85px;
  border-bottom: 1px solid lightgrey;
  cursor: pointer;
}

/* avatars */
.Avat {
  height: 100%;
}
.Avat img {
  height: 100%;
}

/* ========================= MAINZAPP ========================= */
.mainZapp {
  height: 100%;
  width: 60%;
  background-image: url(../img/mine.jpg);
}

.singleMess {
  min-height: 75px;
  min-width: 200px;
}

.backSent {
  background-color: rgb(50, 75, 50);
  background-size: 100%;
}

.messDate {
  font-size: small;
}
