* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.myContainer {
  background: linear-gradient(
    180deg,
    rgb(0, 156, 120) 100px,
    rgb(220, 220, 210) 0px
  );
  width: 100vw;
  height: 100vh;
}

/* ========================= CONTAINER ========================= */
.zappContainer {
  width: 80vw;
  height: 60vh;
}

.mainZapp {
  background-color: beige;
}

.zappTop {
  height: 50px;
  width: 100%;
  background-color: lightgray;
}

/* ========================= SIDEZAPP ========================= */
.newsZapp {
  background-color: skyblue;
  height: 50px;
  width: 100%;
}

.sideZapp {
  height: 100%;
  width: 20%;
  border-right: 1px solid rgba(128, 128, 128, 0.377);
}

.sideBody {
  background-color: white;
  height: calc(100% - 100px);
  width: 100%;
  overflow-y: auto;
}
